/* Empty. Add your own CSS if you like */
.banner {
@include box-shadow(rgba(0, 0, 0, 0.30) 0 4 px 10 px 0);
    background: url("../img/logo_tmp.jpg");
    height: 200px;
    background-size: cover;
}

.ion-input-select--large,
.ion-input-select,
select {
  -webkit-appearance:none;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  border:thin solid #dddddd;
  font-weight:300;
  display:inline;
  vertical-align:middle;
  color:#333;
  padding: auto 0;
  overflow:hidden;
  box-sizing:border-box;

}

.ion-input-select--large {
  width:420px;
  font-size:1.6rem;
  background-image: url(http://i.imgur.com/7rGM4IX.png);
  text-indent:40px;
  padding:1.2rem 0;
}

.ion-input-select {
  width:200px;
  font-size:1rem;
  background-image: url(http://i.imgur.com/nA9xx1X.png);
  text-indent:20px;
  padding:.5rem 0;
}

option {
  background: #fbffd3;
}

select::-ms-expand {
  display: none;
}

:focus {
  outline:none;
}
